* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.wrapper {
  position: relative;
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}

.wrapper .top {
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 54%, 1% 45%);
  border-bottom: 2px solid #fff;
  font-size: 250px;
  transform: translateX(10px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.wrapper .bottom {
  position: absolute;
  font-size: 250px;
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
}
